h1{
    color:#a3654a;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color:#a3654a;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    color:#a3654a;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    width: 400px;
    height: 400px;
    text-align:left;
}